.MainSection {
    height: 100%;
    width: auto;
    position: relative;
    order: 1;
    overflow: hidden;
    background: #f1f1f1;
}

.Tab {
    margin: 0 auto;
    height: 100%;
    width: fit-content;
    position: relative;
    overflow-y: auto;

    &-title {
        margin: 1rem 0;
        position: sticky;
        top: 0;
        background: white;
    }
}

@media (min-width: 766px) {
    .MainSection {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1264px) {
}
