.MainSection {
    height: 100%;
    width: auto;
    overflow-y: auto;
    order: 1;
}

.MainTab {
    margin: 0 auto;
    width: fit-content;

    &-title {
        margin: 1rem 0;
    }
}

@media (min-width: 766px) {
    .MainSection {
        height: auto;
        width: 100%;
    }
}

@media (min-width: 1264px) {
}
